*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type='number'],input[type="number"]:hover,input[type="number"]:focus {appearance: none;-moz-appearance: textfield;}

/*! ______ОБНУЛЕНИЕ______ */

$fontFamily1:'Rubik';
$color1:#FF4948;
$color2:#E86564;
$color3:#180202;
$color4:#FFF4F4;

$maxWidth: 1920;
$maxWidthContainer: 1200;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}

body{
   font-family: $fontFamily1;
   font-weight: 400;
   background-color: $color2;
   color: $color3;
}
._navigationActive{
   position: relative;
   &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
      z-index: 1;
   }
   .header__navigation{
      transform: translate3d(0,0,0) scale(1);
   }
   .header__splice{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(45deg);
      &--short{
         display: none;
      }
      &:nth-child(3){
      transform: translateY(-50%) rotate(-45deg);
      }
   }
}
.container{
   max-width: 1180px;
   margin: auto;
   padding: 0 10px;
}

.btn {
   padding: 13px;
   background-color: #fff;
   border-radius: 999px;
   transition: .1s;
   &:hover{
      background-color: rgba(255, 255, 255, 0.438);
   }
}

// classes

@keyframes introHeadphones {
   0%{transform: translateY(0);}
   75%{transform: translateY(-50px);}
   100%{transform: translateY(0px);}
   
}
@keyframes infoLeftGo {
   0%{transform: translate3d(0,0,0);}
   65%{transform: translate3d(-20px,20px,0);}
   100%{transform: translate3d(0,0,0);}
}
@keyframes infoRightGo {
   0%{transform: translate3d(0,0,0);}
   65%{transform: translate3d(20px,20px,0);}
   100%{transform: translate3d(0,0,0);}
}
@media (max-width:500px) {
   @keyframes infoLeftGo {
      0%{transform: translate3d(0,0,0);}
      65%{transform: translate3d(-10px,10px,0);}
      100%{transform: translate3d(0,0,0);}
   }
   @keyframes infoRightGo {
      0%{transform: translate3d(0,0,0);}
      65%{transform: translate3d(10px,10px,0);}
      100%{transform: translate3d(0,0,0);}
   }
}
@keyframes subAnimation{
   0%{transform: translateY(0);}
   60%{transform: translateY(20%);}
   100%{transform: translateY(0);}
}
@keyframes ProductAnimation{
   0%{transform: translateY(0);}
   60%{transform: translateY(-5%);}
   100%{transform: translateY(0);}
}
@keyframes subAnimation2{
   0%{transform: translateY(0) rotate(0);}
   60%{transform: translateY(40%) rotate(0deg);}
   100%{transform: translateY(0) rotate(0);}
}
//animations

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   &__inner {
      padding: 34px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
   }

   &__logo {
      height: 66px;
      img{
         height: 100%;
      }
      @media (max-width:420px) {
         height: 55px;
      }
   }

   &__center {
      display: flex;
   }

   &__btn {
      aspect-ratio: 1/1;
      width: 48px;
      img{
         width: 20px;
      }
      @media (max-width:420px) {
         width: 38px;
         height: 38px;
         display: flex;
         justify-content: center;
         align-items: center;
         img{
            width: 20px;
         }
      }
   }

   &__line {
      min-height: 100%;
      width: 2px;
      background-color: #fff;
      opacity: .7;
      margin: 0 32px;
      @media (max-width:768px) {
         margin: 0 10px;
      }
   }

   &__burger {
      aspect-ratio: 1/1;
      width: 38px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: transparent;
      justify-content: space-around;
      position: relative;
   }

   &__splice {
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 999px;
      transition: .2s;
      &--short{
         width: 80%;
      }
   }
   &__navigation{
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      padding: 30px 40px;
      background-color: #fff;
      border-radius: 10px;
      font-size: 35px;
      transform: translate3d(50%,-50%,0) scale(0);
      transition: .2s;
      display: flex;
      flex-direction: column;
   }
   &__link{
      color: #FF4948;
      transition: .2s;
      &:hover{
         opacity: .5;
      }
      &:not(:last-child){
         margin-bottom: 15px;
      }
   }
}



.intro {
   background: url(../img/intro/BackgroundintroFon.jpg) center / cover;
   &__inner {
      display: flex;
      padding: 160px 0px 100px 0px;
      color: #fff;
      @media (max-width:768px) {
         flex-direction: column;
      }
   }

   &__headphones {
      width: 50%;
      padding: 0px 20px 0px 0px;
      img{
         width: 100%;
         animation: introHeadphones 3s linear infinite;
      }
      @media (max-width:768px) {
         width: 100%;
      }
   }

   &__about {
      padding: 43px 20px 0px 20px;
      width: 50%;
      @media (max-width:768px) {
         width: 100%;
         padding: 43px 0px 0px 0px;
      }
   }

   &__subtitle {
      font-size: 22px;
      text-transform: uppercase;
   }

   &__title {
      font-weight: 700;
      text-transform: uppercase;
      @include adaptiv-value("font-size",100 ,35 ,1 );
      @media (max-width:765px) {
         font-size: 70px;
      }
   }

   &__price {
      display: flex;
      margin: 35px 0px;
      align-items: center;
   }

   &__newPrice {
      font-size: 44px;
      font-weight: 700;
   }

   &__line {
      min-height: 57px;
      width: 2px;
      margin: 0px 30px;
      background-color: #fff;
   }

   &__oldPrice {
      opacity: .6;
      font-size: 31px;
   }

   &__btn {
      font-weight: 500;
      font-size: 22px;
      color:$color1;
      padding: 14px 45px;
      text-transform: uppercase;
   }
}


.footer {
   background-color: $color2;
   &__inner {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      padding: 62px 0px;
      @media (max-width:768px) {
         grid-template-columns: auto 1fr;
         
      }
   }

   &__logo {
      height: 66px;
      img{
         height: 100%;
      }
      @media (max-width:768px) {
         display: none;
      }
   }

   &__center {
      display: flex;
      justify-content: center;
      padding: 0px 20px;
      @media (max-width:768px) {
         flex-direction: column;
         padding: 0px 10px 0 0;
      }
   }

   &__link {
      font-size: 22px;
      color: #fff;
      transition: .2s;
      &:hover{
         opacity: .6;
      }
      &:not(:last-child){
         margin-right: 30px;
      }
      @media (max-width:768px) {
         &:not(:last-child){
            margin-bottom: 10px;
         }
      }
   }

   &__social {
      display: flex;
      justify-content: end;
   }
   &__btn {
      
      &:not(:last-child){
         margin: 0 35px 0 0;
      }
      img{
         height: 20px;
      }
      display: inline-flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      width: 50px;
      @media (max-width:768px) {
         &:not(:last-child){
            margin: 0 15px 0 0;
         }
      }
   }
}

.slider {
   background-color: #fff;
   .container{
      overflow: hidden;
   }
   &__inner {
      padding: 130px 0px 190px 0px;
   }

   &__title {
      text-align:center;
      margin-bottom: 130px;
      font-size: 44px;
      font-weight: 700;
   }

   &__main {
      position: relative;
   }

   &__photo {
      aspect-ratio: 1/1;
      width: 324;
      transition: .2s;
      border-radius: 30px;
      overflow: hidden;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .slick-track {
      display: flex;
      align-items: flex-start;
   }
   .slick-list {
   }
   .slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 2;
      font-size: 0;
      height: 35px;
      width: 20px;
      transition: 0.1s;
      &:hover {
         opacity: .7;
      }
   }
   .slick-prev {
      left: 0px;
      background: url(../img/slider/Vector.png) center no-repeat ;
      transform: translate3d(-10px,-50%,0);

   }
   .slick-next {
      right: 0px;
      background: url(../img/slider/Vector-1.png) center no-repeat;
      transform: translate3d(10px,-50%,0);
   }
   .slick-current{
      transform: scale(1.4);
      filter: drop-shadow(0px 21px 33px rgba(126, 118, 118, 0.2));
      @media (max-width:768px) {
         filter: none;
         box-shadow: 0 15px 53px  rgba(126, 118, 118, 0.2);
         
      }
   }
}

.info {
   background-color: #fff;
   &__inner {
      display: flex;
      align-items: center;
      padding: 0px 0px 130px 0px;
      overflow: hidden;
      @media (max-width:768px) {
         flex-direction: column;
      }
   }

   &__about {
      width: 50%;
      @media (max-width:768px) {
         width: 100%;
      }
   }

   &__title {
      max-width: 460px;
      font-weight: 700;
      font-size: 44px;
      margin-bottom: 60px;
      @media (max-width:768px) {

      }
   }

   &__wrapper {
   }

   &__block {
      display: flex;
      &:not(:last-child){
         margin-bottom: 40px;
      }
   }

   &__logo {
      aspect-ratio: 1/1;
      width: 100px;
      margin-right:20px ;
      img{
         width: 100%;
         aspect-ratio: 1/1;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__subtitle {
      font-size: 31px;
      font-weight: 500;
   }

   &__text {
      font-size: 16px;
      font-weight: 400;
      opacity: .7;
   }

   &__link {
      color: #FF4948;
      font-size: 16px;
      &:hover{
         opacity: .6;
      }
   }

   &__photo {
      width: 50%;
      position: relative;
      padding: 0px 0px 0px 70px;
      img{
         width: 100%;
      }
      @media (max-width:768px) {
         width: 100%;
         order: -1;
         margin: 0px 0px 80px 0px;
         padding: 0px 0px 0px 90px;
      }
      @media (max-width:430px) {
         width: 100%;
         order: -1;
         margin: 0px 0px 80px 0px;
         padding: 0px 0px 0px 60px;
      }
   }

   &__wave {
      position: absolute;
      width: auto !important;
      &--left{
         bottom: -60px;
         left: -40px;
         animation: infoLeftGo 3s linear infinite;
         @media (max-width:978px) {
            bottom: -70px;
            left: -50px;
         }
         @media (max-width:768px) {
            left: 0px;
            width :150px !important;
         }
         @media (max-width:430px) {
            left: -20px;
         }
      }
      &--right{
         right: -50px;
         bottom: -50px;
         animation: infoRightGo 3s linear infinite;
         @media (max-width:978px) {
            right: -75px;
            bottom: -65px;
         }
         @media (max-width:768px) {
            right: -35px;
            width :150px !important;
         }
         @media (max-width:430px) {
            right:-25px;
            bottom: -35px;
         }
      }
   }
}

.product {
   background-color: #fff;
   &__inner {
      color:$color3;
      padding-bottom: 130px;
   }

   &__text {
      text-align: center;
   }

   &__title {
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 25px;
      @include adaptiv-value("font-size",44,30, 1)
   }

   &__subtitle {
      margin: auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 560px;
   }

   &__wrapper {
      margin-top: 43px;
      display: flex;
      justify-content: space-between;
      @media (max-width:900px) {
         flex-direction: column;
         padding: 0px 50px 0px 100px;
         gap: 40px;
         margin-top: 63px;

      }
      @media (max-width:540px) {
         padding: 0px 0px 0px 30px;
         margin-top: 43px;
      }
   }

   &__block {
      flex: 0 1 356px;
      padding: 0px 30px 0px 0px;
      .green{
         background-color: #E5FFFB;
      }
      .blue{
         background-color: #E5F1FF;
      }

   }
   &__in{
      padding: 60px 0px 0px 0px;
      &:hover{
         .product__img{
            animation: ProductAnimation 2s linear infinite;
         }
      }
   }

   &__photo {
      display: inline-block;
      width: 100%;
      margin-bottom:35px ;
      aspect-ratio: 1/1;
      background-color:#FFE5EE;
      border-radius: 30px;
      position: relative;
      cursor: auto;
      @media (max-width:900px) {
         margin-bottom: 25px;
      }
      input{
         &:checked{
            & + label{
               background-color: #fff;
               border-color: #1802026e;
            }
         }
      }
   }
   &__img{
      padding: 0px 0px 25px 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      width:86%;
      transition: .2s;
   }
   &__basIn{
      position: absolute;
      top: 0;
      right: 0;
      width: 68px;
      height: 68px;
      border-radius: 99px;
      border: 6px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#FFE5EE;
      transform: translate3d(calc(50% - 5px),calc(-50% + 5px),0);
      cursor: pointer;
      transition: .2s;
      &:hover{
         background-color: #fff5f8;
      }
      img{
         width: 31px;
         height: 31px;
      }
   }
   &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--top{
         margin-bottom: 15px;
      }

   }

   &__rate {
      font-size: 16px;
   }

   &__name {
      font-size: 22px;
      font-weight: 400;
      @media (max-width:340px) {
         font-size: 18px;
      }
   }

   &__price {
      font-weight: 500;
      font-size: 22px;
   }
}

.box {
   background-color: #fff;
   &__inner {
      display: flex;
      align-items: center;
      color: $color3;
   }

   &__photo {
      width: 60%;
      img{
         width: 100%;
      }
      @media (max-width:768px) {
         order: 1;
         width: 40%;
         
      }
   }

   &__about {
      width: 40%;
      @media (max-width:768px) {
         width: 60%;
      }
   }

   &__title {
      max-width: 400px;
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 28px;
      @media (max-width:768px) {
         font-size: 30px;
      }
   }

   &__wrapper {
      max-width: 292px;
   }

   &__block {
      &:not(:last-child){
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
   }

   &__head {
      display: flex;
      align-items: center;
      padding: 20px;
      cursor: pointer;
      @media (max-width:768px) {
         padding: 15px 0px;
      }
   }

   &__arrow {
      aspect-ratio: 1/1;
      width: 20px;
      overflow: hidden;
      margin-right: 20px;
      transition: .3s;
      img{
         width: 100%;
         height: 100%;
      }
   }

   ._spoilerOpen{
      .box__arrow{
         transform: rotate(90deg);
      }
   }

   &__subtitle {
      font-weight: 400;
      font-size: 22px;
      opacity: .7;
      @media (max-width:768px) {
         font-size: 18px;
      }
   }

   &__text {
      padding: 0px 20px;
   }
}

.subscribe {
background-color: #fff;
overflow: hidden;
   &__inner {
      position: relative;
      color: $color3;
      padding: 120px 0px 130px 0px;
   }

   &__wrapper {
      max-width: 712px;
      margin: auto;
      background-color: $color4;
      position: relative;
      z-index: 2;
      padding: 54px 10px;
      border-radius: 20px;
   }

   &__title {
      text-align: center;
      font-size: 44px;
      font-weight: 700;
      margin: 0px 0px 10px 0px;
      @media (max-width:500px) {
         font-size: 30px;
      }
   }

   &__subtitle {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      margin: 0px 0px 36px 0px;
   }
   form{
      display: flex;
      max-width: 500px;
      margin: auto;
      background-color: #fff;
      border-radius: 999px;
      overflow: hidden;
      padding: 0px 0px 0px 30px;
      @media (max-width:500px) {
         padding: 0px 0px 0px 15px;
      }
   }
   &__write{
      display: block;
      flex: 1;
      padding: 0px 10px 0px 0px;
      &::placeholder{
         opacity: .3;
      }
      
   }
   &__btn{
      background-color: $color1;
      color: #fff;
      padding: 15px 30px;
      font-size: 22px;
      cursor: pointer;
      transition: .2s;
      &:hover{
         background-color: rgb(255, 160, 160);
      }
      @media (max-width:500px) {
         font-size: 16px;
         padding: 15px 20px;
      }
   }
   &__photo{
      position: absolute;
      z-index: 1;
      &--1{
         top: 90px;
         animation: subAnimation 11s linear infinite;
         left: -20px;
         @media (max-width:768px) {
            top: 20px;
            left: -60px;
         }
      }
      &--2{
         bottom: 150px;
         left: 100px;
         animation: subAnimation2 7s linear infinite;
         z-index: 3;
         @media (max-width:768px) {
            bottom: 120px;
         }
      }
      &--3{
         top: 260px;
         left: -20px;
         animation: subAnimation2 15s linear infinite;
         @media (max-width:768px) {
            top: 400px;
            left: 0;
         }
      }
      &--4{
         right: -30px;
         top: 220px;
         animation: subAnimation 12s linear infinite;
         @media (max-width:768px) {
            top: 340px;
         }
      }
      &--5{
         right: 80px;
         top: 100px;
         animation: subAnimation2 9s linear infinite;
         z-index: 3;
         @media (max-width:768px) {
            top: 50px;
         }
      }
   }
}
